:global(.calendarBorder) {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 500px;
  margin-top: 100px;
  border: 2px solid #ef7f83;
  border-top: 5px solid #ef7f83;
  border-radius: 5px;
}
    
:global(.headerborder) {
  display: flex;
  justify-content: space-between;
  height:60px;
  border-bottom:1px solid #ef7f83;
}

:global(.headerborder p) {
  margin: 5px 10px;
  font-weight: bolder;
  color: #9d5785;
  font-size: larger;
}

:global(.currentMonth) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.triangle) {
  margin: 4%;
  width: 20px;
  height: 20px;
}

:global(.cldDays) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex.basis: 45%;
}

:global(.weekday ul) {
  display: flex;
  height: 19px;
  margin: 3%;
  padding: 0 5%;
  justify-content: space-around;
}

:global(.weekday li) {
  width: 13%;
  flex: 1;
  text-align: center;
}

:global(.CalendarDay ul) {
  display: flex;
  margin: 0 3%;
  padding: 0 5%;
  height: 45%;
  flex-wrap: wrap;
  justify-content: space-around;
}
    
:global(.CalendarDay li) {
  width: 13%;
  height: 13%;
  text-align: center;
  vertical-align: bottom;
  line-height: 59px;
  color: #94898F;
}

:global(.CalendarDay li.currMonth) {
  color: #000000;
  font-weight: bold;
}

:global(.CalendarDay li.selectedDay) {
  color: #000000;
  font-weight: bold;
  background-color: #f7e7e7;
}

:global(.CalendarDay li.today) {
  color: #000000;
  font-weight: bold;
  background-color: #f3cec3;
}


:global(.CalendarDay li:hover) {
  background-color: #F9F7F7;
  cursor: pointer;
}
