:global(.background) {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}

:global(.inputField) {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

:global(.center) {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

:global(.form_box) {
  position: fixed;
  top: 15%;
  right: 3%;
  width: 30%;
  border: 3px solid #73AD21;
  padding: 10px;
  margin: 10px;
}

:global(.icon) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}
