:global(.form_box) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
  height: 450px;
}

:global(.background) {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

:global(.inputField) {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

:global(.center) {
  margin: auto;
  width: 80%;
  padding: 0 10px;
  text-align: center;
}

:global(.icon) {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 5px 0 5px;
}

:global(.form_box span) {
  display: inline-block;
  height: 40px;
  margin: 5px 10px;
}

:global(.form_box label) {
  flex: 1;
}
